*,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: "JabbaTheFont";
  src: local("Jabba The Font Regular"), local("JabbaTheFont"),
    url("./fonts/Jabba the Font Regular.ttf") format("truetype");
}

.svg-defs {
  position: absolute;
}

.App-Logo {
  width: 33vw;
}

.App-header {
  background-color: #171717;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
}

.bg-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  background-color: #17171700;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
}

.grid-item {
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  background-color: transparent;
  opacity: 0;
  /* transition: all 0.2s; */
  font-family: "JabbaTheFont", sans-serif;
  cursor: default;
  transition: opacity 1000ms;
}

.grid-item:hover {
  opacity: 1;
  transition: none;
}

#image {
  width: 50vw;
}

.sourceVideo {
  height: 466px;
  border: #171717;
  width: 466px;
}

.sourceVideo video {
  height: 500px;
  -webkit-clip-path: url(#logo);
  clip-path: url(#logo);
}

.header-content {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.LogoSection {
  animation: 1s ease-out 0s 1 slideInFromBottom;
  position: relative;
  z-index: 1000;
  margin-bottom: 5vh;
}
.titleAzura {
  animation: 1s ease-out 0s 1 slideInFromBottom;
  animation-play-state: paused;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.titleAzura img {
  width: 100%;
  margin: 2vh 0;
  z-index: 1;
}

.topBarTitle {
  width: 100%;
  height: 3px;
  background-color: white;
}

.downTitle {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.downTitle .downBarTitle {
  width: fit-content;
  width: -webkit-fill-available;
  height: 3px;
  background-color: white;
}

.downTitle button {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "JabbaTheFont";
  margin: 0 2%;
  font-size: 0.65vw;
  padding: 1.5% 6%;
  z-index: 1000;
}

.circle {
  z-index: -1;
  position: absolute;
  background-color: white;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  top: -7px;
  left: -7px;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  Section */
